* {
  margin: 0;
  padding: 0;
  
}
body{
  background-color:#CE0033;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

#formulaire {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 2vh;
  left: 2vh;
}


#page-container,
#back-office-container {
  height: 100vh;
  width: 100vw;
  
}

#products-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  border-top: 0.5vh solid black;
  margin-top: -0.5vh;
padding: 0 6%;
  height: 88vh;
  top: 12vh;
background-image: url(background-simplon-pattern.svg);
background-color: #FEFEFE;

  overflow: scroll;
  overflow-x: hidden;
}

#switch-back-office {
  position: fixed;
  top: 1vw;
  right: 2vw;
  height: 3vw;
  width: 3vw;
  background-color: red;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 4vmin;
}

#switch-front {
  position: fixed;
  top: 1vw;
  right: 2vw;
  height: 3vw;
  width: 3vw;
  background-color: green;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 4vmin;
}

#switch-back-office:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

#switch-front:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}




#search-input {
 

position: fixed;
top: 2vh;
height: 58px;

  width: 19vw;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.3rem;
  padding: 0 1.3rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;


}

#search-button {
  position: fixed;
  
  top: 2vh;
  left: 21vw;
  height: 58px;
  width: 5vw;
  
  background-image: url(loupe.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border: 2px white solid;
  font-weight: bold;
  border-radius: 0 30px 30px 0;
}

#search-button:hover {
  background-color: white;
  color:black;
  border: 2px black solid;
}
.img-market{
  position: fixed;
  top: 2vh;
  left: 43vw;
  width: 11vw;
  height: 8vh;
  margin: auto ;
  border-radius: 3%;
}
#select-categories {
  position: fixed;
  top: 2vh;
  left: 68vw;
  height: 58px;
  width: 20vw;
  font-family: 'Roboto', sans-serif;
  color: #333;


  font-size: 1.1rem;
  padding: 0 1.3rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;

}

#search-input:focus::placeholder {
  color: transparent;
}


.popo {
  height: 45vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid silver;
  border-radius: 4%;
  margin: 8vh;
  box-shadow: 0 14px 28px silver, 0 10px 10px silver;
  background-color: white;
  text-align: center;
}

.price{
  font-weight: 700;
  font-size: 1.2em;
  color:white; 
  background-color: #CE0033;
  padding:7px;
  border-radius: 8%;
  margin: auto;
}
.opacity{
opacity: 0%;
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-top: 30vh;

  width: 40vh;
  height: 12vh;
 
}

#back-office-container {
  display: flex;
  flex-wrap: wrap;
}

#back-office-products,
#back-office-vendors,
#back-office-categories,
#back-office-brands {
  border: 1px solid black;
  height: 35vh;
  width: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-office-products {
  position: fixed;
  top: 10vh;
  left: 25vw;
  background-color: red;
  color: white;
  border: 2px solid white;
  font-size: 5vmin;
  font-weight: bold;
}

#back-office-products:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

#back-office-vendors {
  position: fixed;
  top: 10vh;
  right: 25vw;
  background-color: green;
  color: white;
  font-size: 5vmin;
  font-weight: bold;
}

#back-office-vendors:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}

#back-office-categories {
  position: fixed;
  bottom: 10vh;
  left: 25vw;
  background-color: orange;
  color: white;
  font-size: 5vmin;
  font-weight: bold;
}

#back-office-categories:hover {
  background-color: white;
  color: orange;
  border: 2px solid orange;
}

#back-office-brands {
  position: fixed;
  bottom: 10vh;
  right: 25vw;
  background-color: blue;
  color: white;
  font-size: 5vmin;
  font-weight: bold;
}

#back-office-brands:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.switch-to-back {
  position: fixed;
  top: 1vw;
  right: 2vw;
  height: 3vw;
  width: 3vw;
  background-color: red;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 4vmin;
}

.switch-to-back:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.hidden {
  display: none !important;
}
